.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;

    width: 200px;
    height: 300px;

    margin: auto;

    box-shadow: gray 0px 0px 2px 0px;
    background-color: white;

    border-radius: 2px;
}
